.App {
  text-align: center;
  padding-top: 20px;
}



#room-list {
  float:left;
  width: 200px;
}

#active-room {
  display: block;
  font-weight: bold;
  border: 1px solid black;
}

#new-room {
  margin-top: 20px;
}

.show-button {

}

.hide-button {
  display: none;
}
